aws_region = "us-east-1"
project_name = "crisis-pulse"
environment = "production"

tags = {
  Project     = "crisis-pulse"
  Owner       = "girik-tripathi"
  Environment = "production"
  ManagedBy   = "terraform"
}
